.zone-4 {
  position: relative;
  margin: 0 auto;
  width : 350px;
  height: 350px;
  border: 2px solid #CCC;
  background-color: #B3DEFF;
}

.zone-2 {
  position: relative;
  margin: 0 auto;
  width : 350px;
  height: 350px;
  border: 2px solid #CCC;
  border-radius: 175px;
  background-color: #B3DEFF;
}

.zone-2:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border-top: 2px solid #CCC;
  background: #CCC;
  transform: translateY(-50%);
  z-index: 1;
}

.zone-nuetral {
  position: relative;
  margin: 10% auto;
  width : 80%;
  height: 80%;
  border-radius: inherit;
  background-color: #D9EEFF;
}

.ball {
  position: absolute;
  top   : 45%;
  left  : 45%;
  width : 20px;
  height: 20px;
  background: red;
  border-radius: 100%;
  z-index: 2;
}
